.nav{
    padding: 20px;
}
main{
    min-height: 60vh;
}

footer{
    padding: 20px;
}

.form{
    width: 80%;
    margin:50px auto;
    border: 1px solid lightgray;
    padding: 20px;
}

.form input,textarea{
    width: 100%;
}