.nav{
    padding: 20px;
}
main{
    min-height: 60vh;
}

footer{
    padding: 20px;
}

.form{
    width: 80%;
    margin:50px auto;
    border: 1px solid lightgray;
    padding: 20px;
}

.form input,textarea{
    width: 100%;
}
.posts{
    padding: 20px;
}
.post{
    background-color: white;
    padding: 10px;
    width: 80%;
    border: 1px solid lightgray;
}
.post-header{
    display: flex;
    justify-content: space-between;
}
.post-date{
    margin-top: 20px;
}
.post-detail{
    width:100%;
    padding: 20px;
}