{% extends 'blog/base.html' %}
{% block body %}
    <div class="form">
        <h3>Create a Post</h3>
        <form action="" method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    <p class="text-primary">{{f.label}}</p>
                    {{f}}
                </div>
                
            {% endfor %}
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        
    </div>
{% endblock body %}
    