{% extends 'blog/base.html' %}
{% block body %}
{% if messages %}
        
    {% for message in messages %}
        <p class="alert alert-{{message.tags}}">
            {{message}}
        </p>
    {% endfor %}
        
    {% endif %}
    {% if profile == None %}
        <div class="jumbotron">
            <p class="text-info">No profile yet, <a href="{% url 'blog:create_profile' %}">Create One</a></p>
        </div>
        {% else %}
        <div class="container">
            <h1>{{user}}</h1>
            <p>{{profile.bio}}</p>
        
        <div class="posts container">
            {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <div class="post-header">
                            <a href="/details/{{post.title}}"><h3 class="text-info">{{post.title}}</h3></a>
                            <small class="post-date">{{post.created}}</small> 
                        </div>
                        <p class="text-info">by {{post.author}}</p>
                        <p>{{post.body}}</p>
                        <a href="/details/{{post.title}}">Details</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="">
                    <p>There are no posts yet. <a href="{% url 'blog:create_post' %}">Create a Post</a></p>
                </div>
            {% endif %}
                     
        </div>
    {% endif %}
        
{% endblock body %}
    