{% extends 'blog/base.html' %}
{% block body %}
    <div class="form">
        <h3>Sign Up</h3>
        <form action="" method="POST">
            {% csrf_token %}
            
            {% for f in form %}
                <div class="form-group">
                    {{f.label}}
                    {{f}}
                </div>
            {% endfor %}
                
            <button type="submit" class="mybtn btn btn-primary">Sign Up</button>
        </form>
    </div>
{% endblock body %}
    